@{
    ViewBag.Title = "Index";
    ViewBag.DataMain = "Content/js/tourney";
}

<header>
    <div class="hero-unit">
        <h1>Resounding Software Tourney</h1>
        <p>For organizing Resounding tournaments!</p>
    </div>
</header>
<div class="container-fluid">
    <div class="row-fluid" id="game-container"></div>
</div>