/* 
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 35px; /* .push must be the same height as .footer */
}
/* end sticky footer */

table.mobile
{
    width: 100%;
}
table.mobile th, table.mobile td, table.mobile p
{
    text-align: center;
}
a.gameOver
{
    display: block;
}